In [28]:
print("Hello")

Hello

In [29]:
pwd()

'/Users/amankumar/Desktop/Work/Trainings/Data Science and ML/Day 1/.ipynb_checkpoints'

In [30]:
dir("pd")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## Imports

In [31]:
import pandas as pd
import platform
import sys
import os

In [32]:
pd.DataFrame({'A': {"one": 1, "two": 2}})

     A
one  1
two  2

In [33]:
a = 1
b = 12 + 3j
print(a +  b)

(13+3j)

In [34]:
print(platform.python_version())

3.11.7

In [35]:
prime_numbers = [2,3,5,7,11,13,17,19,23]
names = ['John', 'Ana', 'Rich', 'Drake']
emp = ['Rita', 'female', 23, 4.5, 4500]
temp = [23, 23, 24, 25, 28, 28, 29, 28, 27, 26, 25, 23]

In [43]:
print(type("aman"))
print(sorted(names))
print(set(temp))

<class 'str'>
['Ana', 'Drake', 'John', 'Rich']
{23, 24, 25, 26, 27, 28, 29}

In [47]:
marks = int(input("Enter marks:"))
if marks >= 90:
    print("A")
elif marks >= 75 and marks < 90:
    print("B")
elif marks >= 55 and marks < 75:
    print("C")
elif marks >= 35 and marks < 55:
    print("D")
else:
    print("E")

A

In [49]:
for num in range(1,101):
    if num % 6 == 0:
        print(num, end=" ")
print()

6 12 18 24 30 36 42 48 54 60 66 72 78 84 90 96