In [ ]:

# ## Conditional Statements 
# if then else 
#if conditional expression :
#   statement 1
#    statement 2
 #   indentation

In [ ]:
num = 334

In [8]:
# inputs by user 
num = int(input("please enter a number : "))


if num % 2 == 0:
    print('Even')
else:
    print('odd')

please enter a number : 34
Even

In [ ]:
# take input marks and grade them :
# A => 90 and above
# B => 75 - 90
# C => 55 - 75
# D => 35 - 55
# F => <35

In [9]:
marks = int(input(" Please Enter Marks : "))

if marks >= 90:
    grade = 'A'
else :
    if marks >= 75:
        grade = 'B'
    else :
        if marks >= 55:
            grade = 'C'
        else :
            if marks >= 35:
                grade = 'D'
            else :
                grade = 'F'
print(grade)

 Please Enter Marks : 99
A

In [1]:
marks = int(input(" Please Enter Marks : "))

 Please Enter Marks : 89

In [2]:
if marks >= 90:
    grade = 'A'
elif marks >= 75:
    grade = 'B'
elif marks >= 55:
    grade = 'C'
elif marks >= 35:
    grade = 'D'
else :
    grade = 'F'
print(grade)

B

In [3]:
if marks >= 90: grade = 'A'
elif marks >= 75: grade = 'B'
elif marks >= 55: grade = 'C'
elif marks >= 35:grade = 'D'
else :grade = 'F'
print(grade)

B

In [ ]:
# ## loops : iterations
# * for loop  -- the number of itetations are known
# * while loop --- condition is known

In [4]:
names = ['jane','jake','jerry','jordan'] 
# with a uppercase first letter

for name in names :
    print(name.capitalize())

Jane
Jake
Jerry
Jordan

In [5]:
age = [11, 13,12,11]

In [6]:
# dictionary name is key and age is value
name_age = {}
for i in [0,1,2,3]:
    name_age[names[i]] = age[i]

In [7]:
name_age

{'jane': 11, 'jake': 13, 'jerry': 12, 'jordan': 11}

In [8]:
for i in range(1,50):
    if i % 3== 0:
        print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [9]:
p = 10000
tot_int = 0
for i in range(1,13):
    tot_int = tot_int + ( p + tot_int) * 6/1200
tot_int

616.7781186449956

In [10]:
money_invested = 10000
interest_rate = 6

total_money = money_invested
count = 0

while (total_money < 50000):
  total_money = total_money + total_money * 0.06
  count = count + 1

print("Months it takes is", count)
print("years it takes is", count / 12)

Months it takes is 28
years it takes is 2.3333333333333335

In [11]:
earned = 10000 ; year = 1
while earned <= 50000:
    tot_int = 0
    for i in range(1,13):
        interest = ( earned + tot_int) * 6/1200
        tot_int = tot_int + interest
    #print("Year : {} Start : {:1.2f} interest : {:1.2f} end : {:1.2f}".format(year, earned, tot_int, earned +tot_int))
    earned = earned + tot_int # principal for next year
    year = year + 1

In [13]:

num = int(input("please enter a number :: "))
# using for loop :
fact = 1
for i in range(num , 1, -1):
    fact *= i  # fact = fact * i
# using while loop
i = num
fact_while = 1
while (i >= 1 ):
    fact_while *= i
    i -= 1
    
print("Using for loop {} \nusing while loop {}".format(fact,fact_while ))

please enter a number :: 5
Using for loop 120
using while loop 120

In [ ]:
#Assignment:
#1. Display all even numbers those are only divisible by 6 between 1 to 100
#2. Find out number range between 1 to 100 are perfect square root.
#3. Find out individual factorial values between 5 to 10 and display all.